@import "./../Common/Styles/styles.scss";

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    .logo {
     padding-bottom: 1rem;
    }
    .join-game {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        input[type=text] {
                padding: 10px;
                border: 1px solid black;
                border-radius: 16px;
            }
        .join-button {
            width: 6rem;
        }

    }
    .create-game {
        padding: 1rem;
        .create-button {
            width: 12rem;
        }
    }
}